:root {
  --main-color: #2000e7;
  --accent-color: #f2bd00;
  --logo-color: #0e0578;
  --color-light-gray: #686565;
  --color-gray: #383838;
  --color-black: #000;
  --color-white: #fff;
}

* {
  margin: 0;
}

@import './reset.css', './animations.scss', './chel-animation.scss', './section.scss', './about.scss', './navigation.scss', './ui.scss', './welcome.scss', './projects.scss', './contact.scss', './footer.scss';

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Poppins';
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}